/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 24px;
  max-width: 1440px;
  justify-content: center;
}

.gallery-image {
  display: block;
  width: 360px;
  height: auto;
}
.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 360px;
  height: 248px;
}
label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 328px;
  height: 24px;
  padding: 8px 16px;
  margin-bottom: 8px;
  margin-top: 8px;
}
textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 328px;
  height: 64px;
  padding: 8px 16px;
  margin-bottom: 8px;
  margin-top: 8px;
}
button {
  border: 0;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
}
